<!DOCTYPE html>
<html>
<head>
  <title>Stylle</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <h1 class="title">Stylle</h1>
  <%= yield %>
</div>

</body>
</html>
